input,
textarea {
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    overflow: hidden;
    overflow-wrap: break-word;
    resize: vertical-auto;
    background-color: aquamarine;
    width: 30%;
    height: auto;
}